{% extends "base_dash.html" %}
{% load widget_tweaks %}
{% load static %}






{% block content %}

   

<div class="page-content-wrapper">

  
    <!-- start page content-->
   <div class="page-content">

    
    <div class="row">
      
        <div class="col-12 col-lg-8 col-xl-9">
          <div class="card overflow-hidden radius-10">
            <div class="profile-cover bg-dark position-relative mb-4">
                <div class="user-profile-avatar shadow position-absolute top-50 start-0 translate-middle-x">
                    {% if profile.photo %}
                        <img src="{{ profile.photo.url }}" alt="User Photo">
                    {% else %}
                        <img src="{% static 'img/user.png' %}" alt="Default Photo">
                    {% endif %}
                </div>
            </div>
            <div class="card-body">
              <div class="mt-5 d-flex align-items-start justify-content-between">
                <div class="">
                  <h3 class="mb-2">{{ user.get_full_name }}</h3>                
                </div>
              </div>

        <div class="card-header py-3">
                <div class="row align-items-center g-3">
                  <div class="col-12 col-lg-6">
                    <h5 class="mb-0">Bienvenidos al Sistema de recepción de Pedidos, Agro Sylvia María</h5>
                  </div>

                </div>
           </div>
           <div class="row bg-light align-items-center m-0">
            <div class="col col-auto p-4">
               <p class="mb-0">TOTAL DE PUNTOS ACUMULADOS</p>
               <h4 class="mb-0">$4,500.00</h4>
            </div>
            <div class="col col-auto p-4">
               <i class="bi bi-plus-lg text-muted"></i>
            </div>
            <div class="col col-auto me-auto p-4">
               <p class="mb-0">PORCENTAJE DE ALICUOTA (5.4%)</p>
               <h4 class="mb-0">$108.00</h4>
            </div>
            <div class="col bg-primary col-auto p-4">
             <p class="mb-0 text-white">BENEFICIO</p>
             <h4 class="mb-0 text-white">$4508.00</h4>
            </div>
          </div><!--end row-->
          
      

           <div class="card-body">
            <div class="table-responsive">
              <table class="table table-invoice">
                 <thead>
                    <tr>
                       <th>TASK DESCRIPTION</th>
                       <th class="text-center" width="10%">RATE</th>
                       <th class="text-center" width="10%">HOURS</th>
                       <th class="text-right" width="20%">LINE TOTAL</th>
                    </tr>
                 </thead>
                 <tbody>
                    <tr>
                       <td>
                          <span class="text-inverse">Website design &amp; development</span><br>
                          <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id sagittis arcu.</small>
                       </td>
                       <td class="text-center">$50.00</td>
                       <td class="text-center">50</td>
                       <td class="text-right">$2,500.00</td>
                    </tr>
                    <tr>
                       <td>
                          <span class="text-inverse">Branding</span><br>
                          <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id sagittis arcu.</small>
                       </td>
                       <td class="text-center">$50.00</td>
                       <td class="text-center">40</td>
                       <td class="text-right">$2,000.00</td>
                    </tr>
                    <tr>
                       <td>
                          <span class="text-inverse">Redesign Service</span><br>
                          <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id sagittis arcu.</small>
                       </td>
                       <td class="text-center">$50.00</td>
                       <td class="text-center">50</td>
                       <td class="text-right">$2,500.00</td>
                    </tr>
                 </tbody>
              </table>
           </div>

         

           <hr>
         <!-- begin invoice-note -->
         <div class="my-3">
          * Make all cheques payable to [Your Company Name]<br>
          * Payment is due within 30 days<br>
          * If you have any questions concerning this invoice, contact  [Name, Phone Number, Email]
         </div>
       <!-- end invoice-note -->
          </div>

            </div>


          </div>

        </div>
        <div class="col-12 col-lg-4 col-xl-3">
          <div class="card radius-10">
            <div class="card-body">
              <h5 class="mb-3">  <ion-icon name="people"></ion-icon>Información de Domicilio</h5>
              <p class="mb-0">
               
               <strong>País de residencia:</strong>  {{ contact.pais_residencia }}
              </p>
              <p class="mb-0">
                
                <strong>Ciudad en ecuador:</strong> {{ contact.provincia_cantones_ecuador  }}
              </p>
              <p class="mb-0">
               
                <strong>Parroquia en Quito:</strong>  {{ contact.parroquia_quito }}
              </p>
               <p class="mb-0">
        
                <strong>Dirección: </strong> {{ contact.direccion }}, {{ contact.georeferenciacion }}
              </p>
            </div>
          </div>
    
          <div class="card radius-10">
           
            <div class="card-body">
              <h5 class="mb-3"><ion-icon name="paper-plane-outline"></ion-icon> Información de Contacto </h5>
              <p class="mb-0">
               
                <strong>telefono:</strong>  {{ contact.telefono }}
               </p>
               <p class="mb-0">
                 
                 <strong>Correo electrónico:</strong> {{ profile.user.email }}
               </p>
               <p class="mb-0">
                
                 <strong>Perfil de redes sociales:</strong>  <a href="#"> {{ contact.perfil_redes_sociales }}</a>
               </p>

            </div>
          </div>

          <div class="card radius-10">

            <div class="card-body">
              <h5 class="mb-3"> <ion-icon name="newspaper-outline"></ion-icon> Información de Personería </h5>
              <p class="mb-0">
               <strong>Registro único de contribuyente (R.U.C):</strong>   {{ legal.ruc }}
              </p>
              <p class="mb-0">
                
                <strong>Personería Jurídica:</strong> {{ legal.tipo_personeria  }}
              </p>
            
            </div>

    
    
        </div>

 
      </div>
    </div>
</div>
</div>

{% endblock %}