{% load widget_tweaks %}
{% load static %}


<aside class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div>
            <img src="{% static 'assets/images/agro_logo.png' %}" class="logo-icon" alt="logo icon">
            
        </div>
        <div>
            <h4 class="logo-text">
                <div>
                    <img src="{% static 'assets/images/agro_logo.png' %}"  width="100px" alt="logo icon">
                </div>
            </h4>
        </div>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">

 
                       

        
        <li class="menu-label">Configuraciones </li>
        <li>
            <a href="{% url 'usuarios:perfil' %}">
                <div class="parent-icon">
                    <ion-icon name="home"></ion-icon>
                </div>
                <div class="menu-title">Inicio</div>
            </a>
        </li>

        <li>
            <a href="{% url 'shop:product_list' %}">
                <div class="parent-icon">
                    <ion-icon name="cart-outline"></ion-icon>
                </div>
                <div class="menu-title">Realizar Pedido</div>
            </a>
        </li>

        <li>
            <a href="{% url 'shop:product_list' %}">
                <div class="parent-icon">
                    <ion-icon name="pricetags-outline"></ion-icon>
                </div>
                <div class="menu-title">Mis Pedidos</div>
            </a>
        </li>


    
        <li>
            <a class="nav-link dark-mode-icon" href="javascript:;">
                <div class="mode-icon">
                    <ion-icon name="moon-outline"></ion-icon>
                </div>
                <div class="menu-title">Contraste</div>
            </a>
        </li>
    
        <li>
            <a href="{% url 'logout' %}">
                <div class="parent-icon">
                    <ion-icon name="exit-outline"></ion-icon>
                </div>
                <div class="menu-title">Salir</div>
            </a>
        </li>
    </ul>
    <!--end navigation-->


</aside>
