
{% extends "shop/base.html" %}
{% load i18n %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
  {{ product.name }}
{% endblock %}

{% block content %}

{% include 'shop/list_header.html' %}

 <!--start wrapper-->
 <div class="wrapper">





   <!-- start page content wrapper-->
   <div class="page-content-wrapper">
     <!-- start page content-->
    <div class="page-content">

     <!--start breadcrumb-->
     <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
       <div class="breadcrumb-title pe-3">eCommerce</div>
       <div class="ps-3">
         <nav aria-label="breadcrumb">
           <ol class="breadcrumb mb-0 p-0 align-items-center">
             <li class="breadcrumb-item"><a href="javascript:;"><ion-icon name="home-outline"></ion-icon></a>
             </li>
             <li class="breadcrumb-item active" aria-current="page">Product Details</li>
           </ol>
         </nav>
       </div>

     </div>
     <!--end breadcrumb-->
        

     <!--start product detail-->
     <section class="shop-page">
       <div class="shop-container">

         <div class="card shadow-sm border-0">
           <div class="card-body">
              
             <div class="product-detail-card">
               <div class="product-detail-body">
                 <div class="row g-0">
                   <div class="col-12 col-lg-5">
                     <div class="image-zoom-section">
                       <div class="product-gallery owl-carousel owl-theme border rounded mb-3 p-3" data-slider-id="1">
                         <div class="item">
                           <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" class="img-fluid" alt="">
                         </div>
                         <div class="item">
                           <img src="assets/images/product-gallery/02.png" class="img-fluid" alt="">
                         </div>
                         <div class="item">
                           <img src="assets/images/product-gallery/03.png" class="img-fluid" alt="">
                         </div>
                         <div class="item">
                           <img src="assets/images/product-gallery/04.png" class="img-fluid" alt="">
                         </div>
                       </div>
                       <div class="owl-thumbs d-flex justify-content-center" data-slider-id="1">
                         <button class="owl-thumb-item">
                          <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" class="img-fluid" alt="">
                         </button>
                         <button class="owl-thumb-item">
                           <img src="assets/images/product-gallery/02.png" class="" alt="">
                         </button>
                         <button class="owl-thumb-item">
                           <img src="assets/images/product-gallery/03.png" class="" alt="">
                         </button>
                         <button class="owl-thumb-item">
                           <img src="assets/images/product-gallery/04.png" class="" alt="">
                         </button>
                       </div>
                     </div>
                   </div>
                   <div class="col-12 col-lg-7">
                     <div class="product-info-section p-3">
                       <h3 class="mt-3 mt-lg-0 mb-0">{{ product.name }}</h3>
                       <div class="product-rating d-flex align-items-center mt-2">
                         <div class="rates cursor-pointer font-13">	<i class="bx bxs-star text-warning"></i>
                           <i class="bx bxs-star text-warning"></i>
                           <i class="bx bxs-star text-warning"></i>
                           <i class="bx bxs-star text-warning"></i>
                           <i class="bx bxs-star text-light-4"></i>
                         </div>

                       </div>
                       <div class="d-flex align-items-center mt-3 gap-2">
                         <h5 class="mb-0 text-decoration-line-through text-light-3">$98.00</h5>
                         <h4 class="mb-0">$ {{ product.price }}</h4>
                       </div>
                       <div class="mt-3">
                         <h6>Descripción :</h6>
                        
                          {{ product.description|linebreaks }}
                       
                       </div>
                       <dl class="row mt-3">	<dt class="col-sm-3">Product id</dt>
                         <dd class="col-sm-9">#BHU5879</dd>	<dt class="col-sm-3">Delivery</dt>
                         <dd class="col-sm-9">Russia, USA, and Europe</dd>
                       </dl>
                       <div class="row row-cols-auto align-items-center mt-3">
                         <div class="col">
                          <form class="custom-form" name="commentform"  action="{% url "cart:cart_add" product.id %}" method="post">
                            <fieldset>
                                <label for="{{ form.quantity }}"><h3>{% trans "Cantidad Kg" %} :</h3></label>  
                            {% csrf_token %}
                                  {% for hidden_field in cart_product_form.hidden_fields %}
                                    {{ hidden_field }}
                                  {% endfor %}
                                  
                                  {% if cart_product_form.non_field_errors %}
                                    <div class="alert alert-danger" role="alert">
                                    {% for error in cart_product_form.non_field_errors %}
                                      {{ error }}
                                    {% endfor %}
                                    </div>
                                  {% endif %}
                                  
                                  {% for field in cart_product_form.visible_fields %}
                                    <div class="custom-form">
                                    {{ field.label_tag }}
                                  
                                    {% if cart_product_form.is_bound %}
                                      {% if field.errors %}
                                      {% render_field field class="form-control is-invalid" %}
                                      {% for error in field.errors %}
                                        <div class="invalid-feedback">
                                        {{ error }}
                                        </div>
                                      {% endfor %}
                                      {% else %}
                                      {% render_field field class="form-control is-valid" %}
                                      {% endif %}
                                    {% else %}
                                      {% render_field field class="form-control" %}
                                    {% endif %}
                                  
                                    {% if field.help_text %}
                                      <small class="form-text text-muted">{{ field.help_text }}</small>
                                      
                                    {% endif %}
                                    </div>
                                  {% endfor %} 
                                  <div class="d-flex gap-2 mt-3">
                            <button class="btn btn-primary btn-ecomm" type="submit"><i class="bx bxs-cart-add"></i>{% trans "Agregar a mi carrito" %}  <i class="fal fa-shopping-cart"></i> </button>
                          </div>
                          </fieldset>
                          </form>
                         </div>


                       </div>
                       <hr/>

                     </div>
                   </div>
                 </div>
                 <!--end row-->
               </div>
             </div>



             
           </div>
         </div>
       
     </div>
   </section>
   <!--end product detail-->



     </div>
     <!-- end page content-->
    </div>
    


    <!--Start Back To Top Button-->
    <a href="javaScript:;" class="back-to-top"><ion-icon name="arrow-up-outline"></ion-icon></a>
    <!--End Back To Top Button-->




    <!--start overlay-->
     <div class="overlay nav-toggle-icon"></div>
    <!--end overlay-->

</div>
<!--end wrapper-->
{% endblock %}

<div id="wrapper">
  <!-- content -->	
  <div class="content">
      <!-- column-image  -->	
      <div class="column-image">
          <div class="bg"  data-bg="{% static "img/2.jpg" %}" ></div>       
          <div class="overlay"></div>
          
          <div class="column-title">
            <img src="{% static 'img/logo_flor.png' %}" width="350px">
            
              <h2>{{ product.category }}</h2>
              <div class="overlay"></div>
          </div>
      
          <div class="fixed-column-dec"></div>
      </div>

      <!-- column-image end  -->	
      <!-- column-wrapper -->	
      <div class="column-wrapper single-content-section">
        <!--fixed-bottom-content -->	
      
        <!--fixed-bottom-content end  -->	
        <!--section  -->	
         <section class="single-content-section">
            <div class="container small-container">
                <!-- post -->
                <div class="post fl-wrap fw-post single-post ">
                  {% for p in products %}
                  {% if product.slug == p.slug %}{% endif %}
                    <h2><span>{{ p.name }}</span></h2>
                  {% endfor %}
                  
                    <!-- blog media -->
                    <div class="blog-media fl-wrap">
                        <div class="single-slider-wrap">
                            <div class="single-slider fl-wrap">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper lightgallery">
                                        <div class="swiper-slide hov_zoom">
                                          <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}"><a href="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                        <div class="swiper-slide hov_zoom"><img src="{% if product.image_2 %}{{ product.image_2.url }}{% else %}{% static "img/no_image.png" %}{% endif %}"><a href="{% if product.image %}{{ product.image_2.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                        <div class="swiper-slide hov_zoom"><img src="{% if product.image_3 %}{{ product.image_3.url }}{% else %}{% static "img/no_image.png" %}{% endif %}"><a href="{% if product.image %}{{ product.image_3.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="ss-slider-pagination_wrap">
                                <div class="ss-slider-pagination"></div>
                            </div>
                            <div class="ss-slider-cont ss-slider-cont-prev color-bg"><i class="fal fa-long-arrow-left"></i></div>
                            <div class="ss-slider-cont ss-slider-cont-next color-bg"><i class="fal fa-long-arrow-right"></i></div>
                        </div>
                    </div>
                    <!-- blog media end -->
                    <div class="blog-text fl-wrap">
                        <div class="pr-tags fl-wrap">
                            <span>Details : </span>
                            <ul>
                                <li><a href="#">{{ product.item1 }}</a></li>
                                <li><a href="#">{{ product.item2 }}</a></li>
                                <li><a href="#">{{ product.item3 }}</a></li>
                            </ul>
                        </div>
                        <p>{{ product.description|linebreaks }}
                        </p>
                      
                    </div>
                    <!-- post-author-->                                   
                    
                    <!--post-author end-->
                    <div id="comments" class="single-post-comm fl-wrap">
                        <!--title-->
                    
                      
                            <h2 id="reply-title">{% trans "Make you reservation now" %}
                            
                            </h2>
                           
                            <form class="custom-form" name="commentform"  action="{% url "cart:cart_add" product.id %}" method="post">
                              <fieldset>
                                  <label for="{{ form.quantity }}"><h2>{% trans "Number of persons on Tour" %} :</h2></label>  
                              {% csrf_token %}
                                    {% for hidden_field in cart_product_form.hidden_fields %}
                                      {{ hidden_field }}
                                    {% endfor %}
                                    
                                    {% if cart_product_form.non_field_errors %}
                                      <div class="alert alert-danger" role="alert">
                                      {% for error in cart_product_form.non_field_errors %}
                                        {{ error }}
                                      {% endfor %}
                                      </div>
                                    {% endif %}
                                    
                                    {% for field in cart_product_form.visible_fields %}
                                      <div class="custom-form">
                                      {{ field.label_tag }}
                                    
                                      {% if cart_product_form.is_bound %}
                                        {% if field.errors %}
                                        {% render_field field class="form-control is-invalid" %}
                                        {% for error in field.errors %}
                                          <div class="invalid-feedback">
                                          {{ error }}
                                          </div>
                                        {% endfor %}
                                        {% else %}
                                        {% render_field field class="form-control is-valid" %}
                                        {% endif %}
                                      {% else %}
                                        {% render_field field class="form-control" %}
                                      {% endif %}
                                    
                                      {% if field.help_text %}
                                        <small class="form-text text-muted">{{ field.help_text }}</small>
                                        
                                      {% endif %}
                                      </div>
                                    {% endfor %} 
                              <button class="btn float-btn" type="submit">{% trans "Add a cart" %}  <i class="fal fa-shopping-cart"></i> </button>
                            </fieldset>
                            </form>
                        </div>
                        <!--end respond-->
                    </div>
                    <!--comments end -->
                </div>
                <!-- post end-->

                
            
          </section>
          <footer class="min-footer fl-wrap content-animvisible">
              <div class="container small-container">
                  <div class="footer-inner fl-wrap">
                      <!-- policy-box-->
                      <div class="policy-box">
                        <span> Design by Edward Cooper /&#169; Powered by <img src="{% static 'img/logo_smartquailWW.png' %}" width="130px">   </span>
                      </div>
                      <!-- policy-box end-->
                      <a href="#" class="to-top-btn to-top">Back to top <i class="fal fa-long-arrow-up"></i></a>
                  </div>
              </div>
          </footer>
          </div>
          
      
      <!-- column-wrapper -->	
  </div>
  
  <!--content end-->	
  <!--share-wrapper-->
  <div class="share-wrapper">
      <div class="share-container fl-wrap  isShare"></div>
  </div>
  <!--share-wrapper end-->
</div>