
{% extends "shop/base.html" %}
{% load i18n %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load widget_tweaks %}
{% load static %}





{% block content %}

{% block title %}
  {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% include 'shop/list_header.html' %}


   <div class="page-content-wrapper">
     <!-- start page content-->
    <div class="page-content">

     <!--start breadcrumb-->
     <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
       <div class="breadcrumb-title pe-3">Productos de Arroz Disponibles</div>
       <div class="ps-3">
         <nav aria-label="breadcrumb">
           <ol class="breadcrumb mb-0 p-0 align-items-center">
             <li class="breadcrumb-item"><a href="javascript:;"><ion-icon name="cart-outline"></ion-icon></a>
             </li>
             <li class="breadcrumb-item active" aria-current="page">Realizar Pedidos</li>
           </ol>
         </nav>
       </div>

     </div>
     <!--end breadcrumb-->
        
     <!--start shop area-->
   <section class="shop-page">
     <div class="shop-container">
       <div class="card shadow-sm border-0">
        <div class="card-body">
       <div class="row">

         <div class="col-12 col-xl-12">
           <div class="product-wrapper">

             <div class="product-grid">
               <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">

                {% for c in categories %}
                {% if category.slug == c.slug %}{% endif %}
                {% for product in products %}

                 <div class="col">
                   <div class="card product-card">
                        <a href="javascript:;" class="position-absolute end-0 top-0 m-3">
                           <div class="product-wishlist"> <i class="bx bx-heart"></i>
                           </div>
                         </a>
                         <img src="{% if c.image %}{{ c.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" width="400px" class="card-img-top" alt="...">
                     <div class="card-body">
                       <div class="product-info">
                         <a href="javascript:;">
                           <p class="product-catergory font-13 mb-1">{{ c.categry }}</p>
                         </a>
                         <a href="ecommerce-product-details.html">
                           <h6 class="product-name mb-2">{{ c.name }}</h6>
                         </a>
                         <div class="d-flex align-items-center">
                           <div class="mb-1 product-price">	<span class="me-1 text-decoration-line-through">$99.00</span>
                             <span class="fs-5">$49.00</span>
                           </div>
                           <div class="cursor-pointer ms-auto">
                             <i class="bx bxs-star text-warning"></i>
                             <i class="bx bxs-star text-warning"></i>
                             <i class="bx bxs-star text-warning"></i>
                             <i class="bx bxs-star text-warning"></i>
                             <i class="bx bxs-star text-warning"></i>
                           </div>
                         </div>
                         <div class="product-action mt-2">
                           <div class="d-grid">
                             <a href="{{ product.get_absolute_url }}" class="btn btn-primary"><i class="bx bxs-cart-add"></i>Agregar mi carrito</a>
                           </div>
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>
                  {% endfor %}
                  {% endfor %}

               </div>
               <!--end row-->
             </div>
             <hr>

           </div>
         </div>
         </div><!--end row-->
       </div>
      </div>
     </div>
   </section>
   <!--end shop area-->

     </div>
     <!-- end page content-->
    </div>
    


    <!--Start Back To Top Button-->
    <a href="javaScript:;" class="back-to-top"><ion-icon name="arrow-up-outline"></ion-icon></a>
    <!--End Back To Top Button-->



    <!--start overlay-->
     <div class="overlay nav-toggle-icon"></div>
    <!--end overlay-->




{% endblock %}

<div id="wrapper">
  <!-- content -->	
  <div class="content">
    
      <!-- column-image  -->	
      <div class="column-image">
          <div class="bg"  data-bg="{% static 'img/1.jpg' %}"></div>
          <div class="overlay"></div>
          <div class="column-title">
            <img src="{% static '/img/logo_flor.png'%}" width="350px">
            
              <h2>{% trans "Expeditions" %}</h2>
              <p>{% trans "GET THE MOST OUT OF FLOREANA" %}</p>
              <div class="overlay"></div>
          </div>
      
          <div class="fixed-column-dec"></div>
      </div>
      <!-- column-image end  -->	
      <!-- column-wrapper -->	
      <div class="column-wrapper  single-content-section">
    
          <!-- fixed-bottom-content-->	
       
          <!-- fixed-bottom-content end -->	
          <!--section  -->	
   
          <section class="single-content-section">
              <div class="container small-container">
               
                  <!-- post -->
                  {% for c in categories %}
                      {% if category.slug == c.slug %}{% endif %}
                      {% for product in products %}
                  <div class="post fl-wrap fw-post">   
                            
                    <a href="{{ c.get_absolute_url }}"><h2><span>{{ c.name }}</span></h2></a>
                    <h2>
                      {{ c.desde }}  
                 </h2> 
                      <!-- blog media -->
                      <div class="blog-media fl-wrap">
                        <img src="{% if c.image %}{{ c.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" width="400px">
                      </div>
                      
                      <!-- blog media end -->
                      <div class="blog-text fl-wrap">
                          <div class="pr-tags fl-wrap"> 
                            <p>{{c.description}}</p>
                            <a href="{{ c.detail.url }}" >  <span>{% trans "Download here the description" %}    <i class="fal fa-solid fa-file"></i></span></a>
                          </div>
                         
                         
                          <a href="{{ product.get_absolute_url }}" class="btn float-btn flat-btn">Read more </a>
                          
                      </div>
                  </div>
                  {% endfor %}
                          {% endfor %}
                 

              </div>
              <a href="#" class="to-top-btn to-top">Back to top <i class="fal fa-long-arrow-up"></i></a>
          </section>
         
          <!--section end  -->	
          <!--footer -->			
          <footer class="min-footer fl-wrap content-animvisible">
              <div class="container small-container">
                  <div class="footer-inner fl-wrap">
                      <!-- policy-box-->
                      <div class="policy-box">
                        2022, <span> Design by Edward Cooper&#169; / Powered by <img src="{% static 'img/logo_smartquailWW.png' %}" width="130px">&#169; </span>
                      </div>
                      <!-- policy-box end-->
                     
                  </div>
              </div>
          </footer>
          <!--footer end  -->	
      </div>
      <!-- column-wrapper -->	
  </div>
  <!--content end-->	
  <!--share-wrapper-->
  <div class="share-wrapper">
      <div class="share-container fl-wrap  isShare"></div>
  </div>
  <!--share-wrapper end-->
