{% extends "base_login.html" %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Ingresar{% endblock %}

{% block content %}



<div class="wrapper">
  <div class="">
    <div class="row g-0 m-0">
      <div class="col-xl-6 col-lg-12">
        <div class="login-cover-wrapper">
          <div class="card shadow-none">
            <div class="card-body p-4">
           
              <img src="{% static 'assets/images/logo_test.png' %}" style="width: 210px;" alt="">
              <h2 style="color:#ea9c08; font-size: 14pt;">SISTEMA DE GESTIÓN DE PEDIDOS <i class="lni lni-helth"></i> </h2>
              <h4 class="text-center"></h4>
              <p class="text-left">Ingresar sus datos para iniciar sesión </p>
              <form class="form-body row g-3" method="post">
                {% csrf_token %}
         
      
                {% if form.errors %}
                <div class="col-12">
                  <div class="alert alert-danger" role="alert">
                    Your username and password didn't match. Please try again.
                  </div>
                </div>
                {% endif %}
      
                {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
                {% endfor %}
      
                {% if form.non_field_errors %}
                <div class="col-12">
                  <div class="alert alert-danger" role="alert">
                    {% for error in form.non_field_errors %}
                    {{ error }}
                    {% endfor %}
                  </div>
                </div>
                {% endif %}
      
                {% for field in form.visible_fields %}
                <div class="col-12">
                  <div class="form-group">
                    {{ field.label_tag }}
                    {% if form.is_bound %}
                    {% if field.errors %}
                    {% render_field field class="form-control is-invalid" %}
                    {% for error in field.errors %}
                    <div class="invalid-feedback">
                      {{ error }}
                    </div>
                    {% endfor %}
                    {% else %}
                    {% render_field field class="form-control is-valid" %}
                    {% endif %}
                    {% else %}
                    {% render_field field class="form-control" %}
                    {% endif %}
                    {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                  </div>
                </div>
                {% endfor %}
      
                <p>¿Olvidó su contraseña?<a href="{% url 'password_reset' %}"> Recuperar contraseña</a></p>
      
      
                <div class="col-12 d-grid">
                  <button type="submit" class="btn btn-primary" value="Log in">Ingresar</button>
                </div>
      
      
                <div class="col-12">
                 
                </div>
      
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-12">
        <div class="position-fixed top-0 h-100 d-xl-block d-none register-cover-img">
        </div>
      </div>
    </div>
    <!--end row-->
  </div>
</div>




{% endblock %}
