
{% load i18n %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load widget_tweaks %}
{% load static  %}




<head>
    <!--=============== basic  ===============-->
    <meta charset="UTF-8">
    <title>CENTRO COMUNINARIO-ISLA FLOREANA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="robots" content="index, follow"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <!--=============== css  ===============-->	
    <link type="text/css" rel="stylesheet" href="{% static 'css/reset_2.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/plugins.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/style_3.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/payment.scss' %}">
    <!--=============== favicons ===============-->
    <link rel="shortcut icon" href="{% static '/img/favicon.ico' %}">
</head>


<header class="main-header">
    <!-- logo   -->
    
    <a href="{% slugurl 'home' %}" class="logo-holder"><img src="{% static 'img/logo_floreana.png' %}" alt="" ></a>  

    <!-- logo end  -->		
    <!-- search -->				
    
    <!-- search end  -->
  
    
   
    <div class="share-btn showshare"><i class="fal fa-share"></i><span>Share</span></div>
    <div class="share-btn"><a href="{% url 'shop:cart_list' %}"><i class="fal fa-shopping-cart"></i></a><span>Cart</span></div>
    <!-- mobile nav -->
    <div class="nav-button-wrap">
        <div class="nav-button"><span></span><span></span><span></span></div>
    </div>
    <!-- mobile nav end-->                
    <!--  navigation -->
    <div class="nav-holder main-menu">
        <nav>
            <ul>
                <li>
                    <a href="{% slugurl 'story' %}" class="act-link">{% trans "The Island" %} </a>
                </li>
                <li>
                    <a href="{% slugurl 'charms' %}">{% trans "Charms"%}</a>
                </li>
                <li>
                    <a href="{% slugurl 'worlds' %}">{% trans "Worlds" %}</a>
                    <ul>
                        <li><a href="index.html">{% trans "Natural Environ" %}</a></li>
                        <li><a href="index2.html">{% trans "Geological Environ" %}</a></li>
                        <li><a href="index3.html">{% trans "Marine Environ" %}</a></li>
                        <li><a href="index4.html">{% trans "Community Environ" %}</a></li>
                     
                    </ul>
                </li>
                <li>
                    <a href="{% slugurl 'hosts' %}">{% trans "Hosts" %}</a>
                </li>
                <li>
                    <a href="{% url 'shop:product_list' %}">{% trans "Expeditions" %}</a>
                </li>
                <li>
                    <a href="{% slugurl 'contacts' %}">{% trans "Contacts" %}</a>
                </li>
                <li>
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    <a href="#" class="act-link">{% trans "Languages" %} </a>
                    <ul class="languages">
                        {% for language in languages %}
                          <li>
                            <a href="/{{ language.code }}/" {% if language.code == LANGUAGE_CODE %} class="selected"{% endif %}>
                              {{ language.name_local }}
                            </a>
                          </li>
                        {% endfor %}
                      </ul>
                   
                
                    <!--second level end-->
                </li>
            </ul>
        </nav>
    </div>
    <!-- navigation  end -->               
</header>