{% extends "shop/base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}




{% block title %}
  {% trans "Checkout" %}
{% endblock %}

{% block content %}
{% include 'cart/detail_header.html' %}

<div id="wrapper">
  <!-- content -->	
  <div class="content">
      <!-- column-image  -->	

     
        
  <div class="column-image ">
         
          <div class="overlay"></div>
          <div class="bg"  data-bg="{% static 'img/6.jpg' %}"></div>
          
          <div class="column-title">
            <img src="{% static '/img/logo_flor.png' %} " width=350px>
            <h2>{% trans "Your list tours for Floreana Island:"  %}</h2>
            <div class="overlay"></div>
           
             
          
           
            <div class="section-title fl-wrap">
             

              
                
                  <div id="contact-form" class="fl-wrap">
                    <div class="container small-container">
      
                      
                {% for item in cart %}
                <ul>
                  <li><span>{% trans "Tour" %} :</span>{{ item.product.name }} </li>
                    <li><span># <i class="fal fa-user"></i>:</span>{{ item.quantity }}</li>
                    <li><span>Sub total :</span>${{ item.price|floatformat:"2" }}</li>
                    <li><span>Total :</span>${{ item.total_price|floatformat:"2" }}</li>
                    <li><span>Discount :</span>
                      {% blocktrans with code=cart.coupon.code discount=cart.coupon.discount %}
                        {{ code }} ({{ discount }}% off)
                      {% endblocktrans %}
                      <span>- ${{ cart.get_discount|floatformat:"2" }}</span>
                    </li>
                    <p>{% trans "Total" %}: ${{ cart.get_total_price_after_discount|floatformat:"2" }}</p>
                </ul>
                {% endfor %}
              </div> 
            </div>  
          </div>
        </div> 
        
         
         
      </div>
     
      <!-- column-image end  -->	
      <!-- column-wrapper -->	
      <div class="column-wrapper ">

      </section>
          <section id="sec1">
              <div class="container small-container">
                <div class="section-title fl-wrap">
                  <h3>{% trans "Check In Now!" %}</h3>
                  <h3>{% trans "To Centro Comunitario Isla Floreana" %} <i class="fal fa-plane"></i></h3>
                  <p>{%  trans "Fill out the form below and you will receive an email confirmation of your Check In Track." %}</p>
                  </div>
                 
                  <div class="column-wrapper_item fl-wrap">
                      <div class="column-wrapper_text fl-wrap">
                          <div id="contact-form" class="fl-wrap">
                              <div id="message"></div>
                           
                              <form  class="custom-form" action="." method="post" >
                                {% csrf_token %}
                                {% bootstrap_form form %}
                                {% if field.is_hidden %}
   {# Don't render label #}
{% endif %}
                                {% if  label.is_hidden %}
                                {{form.last_name}} {{sudaca}}
                                {% endif %}
                                {% for field in form.hidden_fields %}
                                {{ field }}
                               {% endfor %}
                               {% for field in  bootstrap_form.visible_fields %}
                                {{ field }}
                          
                                {% endfor %}
                               
                                 
  {% buttons %}
  
  <p><input type="submit" class="btn float-btn flat-btn color-bg" value="{% trans "Place order" %}"></p>
  <a href="{% url "orders:order_term"  %}" style="text-decoration: underline;"> {% trans "terms & conditions for reserve this service" %}</a>
  {% endbuttons %}
                                 
                                   
                                   
                                
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </section>


          <!--section end  -->	
          <!--footer -->			
          <footer class="min-footer fl-wrap content-animvisible">
              <div class="container small-container">
                  <div class="footer-inner fl-wrap">
                      <!-- policy-box-->
                      <div class="policy-box">
                          <span>&#169; 
                             Powered by SmartQuail, Inc / Design by Edward Cooper </span>
                      </div>
                      <!-- policy-box end-->
                      <a href="#" class="to-top-btn to-top">Back to top <i class="fal fa-long-arrow-up"></i></a>
                  </div>
              </div>
          </footer>
          <!--footer end  -->	
      </div>
      <!-- column-wrapper -->	
  </div>
  <!--content end-->	
  <!--share-wrapper-->
  <div class="share-wrapper">
      <div class="share-container fl-wrap  isShare"></div>
  </div>
  <!--share-wrapper end-->
</div>
{% endblock %}