{% extends "shop/base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Pay by credit card{% endblock %}

{% block content %}
{% include 'cart/detail_header.html' %}

<div id="wrapper">
  <!-- content -->	
  <div class="content">
      <!-- column-image  -->	
      <div class="column-image">
        <div class="bg"  data-bg="{% static "img/5.jpg" %}" ></div>  
          <div class="overlay"></div>
          <div class="column-title">
            <img src="{% static 'img/logo_flor.png' %} " width=350px>
              <h2>{% trans "Payment Done" %}</h2>
              <p>"{% trans "Your dream trip, its every closer"%}"</p>
          </div>
          <div class="overlay"></div>
          <div class="fixed-column-dec"></div>
      </div>
      <!-- column-image end  -->	
      <!-- column-wrapper -->	
      <div class="column-wrapper ">
<!--scroll-nav-wrap -->	
          
							
          <section id="sec3">
              <div class="container small-container">
                  <div class="section-title fl-wrap">
                      <h3>{% trans "Your payment reservation for Centro Cultural Isla Floreana was successful" %}</h3>
                     <p> {% trans "Your payment reservation has been processed successfully." %}</p>
                     <p> "{% trans "THANKS FOR VISIT US" %}"</p>
                      
                 
              </div>
          </section>
          <!--section end  -->	
          <!--footer -->			
          <footer class="min-footer fl-wrap content-animvisible">
              <div class="container small-container">
                  <div class="footer-inner fl-wrap">
                      <!-- policy-box-->
                      <div class="policy-box">
                        <span>&#169; Powered by SmartQuail, Inc / Design by Edward Cooper  </span>
                      </div>
                      <!-- policy-box end-->
                   
                  </div>
              </div>
          </footer>
          <!--footer end  -->	
      </div>
      <!-- column-wrapper -->	
  </div>
  <!--content end-->	
  <!--share-wrapper-->
  <div class="share-wrapper">
      <div class="share-container fl-wrap  isShare"></div>
  </div>
  <!--share-wrapper end-->
</div>


{% endblock %}