{% extends "shop/base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Pay by credit card{% endblock %}

{% block content %}
<link type="text/css" rel="stylesheet" href="{% static 'css/payment.css' %}">
{% include 'cart/detail_header.html' %}

<div id="wrapper">
  <!-- content -->	
  <div class="content">
    
      <!-- column-image  -->	
      <div class="column-image">
        
        <div class="bg"  data-bg="{% static "img/5.jpg" %}" ></div>  
       
          <div class="overlay"></div>
          
          <div class="column-title">
            <img src="{% static 'img/logo_flor.png' %} " width=350px>
              <h2>{% trans "Payment Process" %}</h2>
              <div class="overlay"></div>
              
          </div>
          <div class="overlay"></div>
          
          <div class="fixed-column-dec">
            
          </div>
      </div>
      <!-- column-image end  -->	
      <!-- column-wrapper -->	
      
      <div class="column-wrapper ">
<!--scroll-nav-wrap -->	
         
							
          <section id="sec3" style="background-color: #525355;">
              <div class="container small-container">
                  <div class="section-title fl-wrap">
                      <h3 style="color:#fff;">{% trans "Pay your reservation now"%}</h3>
                      <p>{% trans "Pay your reservation securely and quickly, with our e-commerce system. We accept the following credit cards." %}</p>
                      <div class="contact-details fl-wrap"></div>
                      <img src="{% static '/img/credit/american-express.png' %}">
                      <img src="{% static '/img/credit/cirrus.png' %}">
                      <img src="{% static '/img/credit/mastercard.png' %}">
                      <img src="{% static '/img/credit/paypal2.png' %}">
                      <img src="{% static '/img/credit/visa.png' %}">
                      <div class="contact-details fl-wrap">
                        {% for item in cart %}
                        <ul>
                          <li><span>Tour :</span>{{ item.product.name }} </li>
                            <li><span># <i class="fal fa-user"></i>:</span>{{ item.quantity }}</li>
                            <li><span>Sub total :</span>${{ item.total_price|floatformat:"2" }}</li>
                            <li><span>{% trans "Discount" %} :</span>
                              {% blocktrans with code=cart.coupon.code discount=cart.coupon.discount %}
                                {{ code }} ({{ discount }}% off)
                              {% endblocktrans %}
                              <span>- ${{ cart.get_discount|floatformat:"2" }}</span>
                            </li>
                            <p>{% trans "Total" %}: ${{ cart.get_total_price_after_discount|floatformat:"2" }}</p>
                        </ul>
                        {% endfor %}
                    </div>   
                  </div>
                  <div class="column-wrapper_item fl-wrap">
                    
                      <div class="column-wrapper_text fl-wrap">
                          <div id="contact-form" class="fl-wrap">
                              <div id="message"></div>
                              
                              <form action="." id="payment" class="scale-down" method="post">
                     

                                  <div class="cardinfo-card-number">
                                    <label class="cardinfo-label" for="card-number">{% trans "Credit Card Number" %}</label>
                                    <div class='input-wrapper' id="card-number"></div>
                                    <div id="card-image"></div>
                                  </div>
                               
                                  <div class="cardinfo-wrapper">
                                    <div class="cardinfo-exp-date">
                                      <label class="cardinfo-label" for="expiration-date">{% trans "Valid Thru" %}</label>
                                      <div class='input-wrapper' id="expiration-date"></div>
                                    </div>

                               
                                    <div class="cardinfo-cvv">
                                      <label class="cardinfo-label" for="cvv">CVV</label>
                                      <div class='input-wrapper' id="cvv"></div>
                                    </div>
                                  </div>
                             
                                <input type="hidden" id="nonce" name="payment_method_nonce" value="">
                                {% csrf_token %}
                                <input  class="btn btn-block btn-success" type="submit" value="Realizar pago">
                          </form>
                                 
                                
       
                          </div>
                      </div>
                  </div>
              </div>
          </section>
          <!--section end  -->	
          <!--footer -->			
          <footer class="min-footer fl-wrap content-animvisible">
              <div class="container small-container">
                  <div class="footer-inner fl-wrap">
                      <!-- policy-box-->
                      <div class="policy-box">
                        <span>&#169; Powered by SmartQuail, Inc / Design by Edward Cooper  </span>
                      </div>
                      <!-- policy-box end-->
                      <a href="#" class="to-top-btn to-top">{% trans "Back to top" %} <i class="fal fa-long-arrow-up"></i></a>
                  </div>
              </div>
          </footer>
          <!--footer end  -->	
      </div>
      <!-- column-wrapper -->	
  </div>
  <!--content end-->	
  <!--share-wrapper-->
  <div class="share-wrapper">
      <div class="share-container fl-wrap  isShare"></div>
  </div>
  <!--share-wrapper end-->
</div>
  
  <!-- Load the required client component. -->
  <script src="https://js.braintreegateway.com/web/3.29.0/js/client.min.js"></script>
  <!-- Load Hosted Fields component. -->
  <script src="https://js.braintreegateway.com/web/3.29.0/js/hosted-fields.min.js"></script>

  <script>
    var form = document.querySelector('#payment');
    var submit = document.querySelector('input[type="submit"]');

    braintree.client.create({
      authorization: '{{ client_token }}'
    }, function (clientErr, clientInstance) {
      if (clientErr) {
        console.error(clientErr);
        return;
      }

      braintree.hostedFields.create({
        client: clientInstance,
        styles: {
          'input': {
            'color': '#282c37',
            'font-size': '16px',
            'transition': 'color 0.1s',
            'line-height': '3'
          },
          // Style the text of an invalid input
          'input.invalid': {
            'color': '#E53A40'
          },
          // placeholder styles need to be individually adjusted
          '::-webkit-input-placeholder': {
            'color': 'rgba(0,0,0,0.6)'
          },
          ':-moz-placeholder': {
            'color': 'rgba(0,0,0,0.6)'
          },
          '::-moz-placeholder': {
            'color': 'rgba(0,0,0,0.6)'
          },
          ':-ms-input-placeholder': {
            'color': 'rgba(0,0,0,0.6)'
          },
          // prevent IE 11 and Edge from
          // displaying the clear button
          // over the card brand icon
          'input::-ms-clear': {
            opacity: '0'
          }
        },
        fields: {
          number: {
            selector: '#card-number',
            placeholder: '1111 1111 1111 1111'
          },
          cvv: {
            selector: '#cvv',
            placeholder: '123'
          },
          expirationDate: {
            selector: '#expiration-date',
            placeholder: '10 / 2019'
          }
        }
      }, function (hostedFieldsErr, hostedFieldsInstance) {
        if (hostedFieldsErr) {
          console.error(hostedFieldsErr);
          return;
        }

        hostedFieldsInstance.on('validityChange', function (event) {
          // Check if all fields are valid, then show submit button
          var formValid = Object.keys(event.fields).every(function (key) {
            return event.fields[key].isValid;
          });
    
          if (formValid) {
            $('#button-pay').addClass('show-button');
          } else {
            $('#button-pay').removeClass('show-button');
          }
        });
    
        hostedFieldsInstance.on('empty', function (event) {
          $('header').removeClass('header-slide');
          $('#card-image').removeClass();
          $(form).removeClass();
        });
    
        hostedFieldsInstance.on('cardTypeChange', function (event) {
          // Change card bg depending on card type
          if (event.cards.length === 1) {
            $(form).removeClass().addClass(event.cards[0].type);
            $('#card-image').removeClass().addClass(event.cards[0].type);
            $('header').addClass('header-slide');
            
            // Change the CVV length for AmericanExpress cards
            if (event.cards[0].code.size === 4) {
              hostedFieldsInstance.setAttribute({
                field: 'cvv',
                attribute: 'placeholder',
                value: '1234'
              });
            } 
          } else {
            hostedFieldsInstance.setAttribute({
              field: 'cvv',
              attribute: 'placeholder',
              value: '123'
            });
          }
        });

        submit.removeAttribute('disabled');

        form.addEventListener('submit', function (event) {
          event.preventDefault();

          hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
            if (tokenizeErr) {
              console.error(tokenizeErr);
              return;
            }
            // set nonce to send to the server
            document.getElementById('nonce').value = payload.nonce;
            // submit form
            document.getElementById('payment').submit();
          });
        }, false);
      });
    });
  </script>
{% endblock %}