{% extends "shop/base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Pay by credit card{% endblock %}

<link type="text/css" rel="stylesheet" href="{% static 'css/payment.css' %}">
{% include 'cart/detail_header.html' %}

{% block content %}

 <!--start wrapper-->
 <div class="wrapper">



   <!-- start page content wrapper-->
   <div class="page-content-wrapper">
     <!-- start page content-->
    <div class="page-content">

     <!--start breadcrumb-->
     <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
       <div class="breadcrumb-title pe-3">eCommerce</div>
       <div class="ps-3">
         <nav aria-label="breadcrumb">
           <ol class="breadcrumb mb-0 p-0 align-items-center">
             <li class="breadcrumb-item"><a href="javascript:;"><ion-icon name="home-outline"></ion-icon></a>
             </li>
             <li class="breadcrumb-item active" aria-current="page">Shipping</li>
           </ol>
         </nav>
       </div>
     </div>
     <!--end breadcrumb-->


     <!--start shop cart-->
     <section class="shop-page">
       <div class="shop-container">
         <div class="card shadow-sm border-0">
           <div class="card-body">
       <div class="shop-cart">
         <div class="row">
           <div class="col-12 col-xl-8">
             <div class="checkout-details">
               <div class="card border-0">
                 <div class="card-body">
                  <div class="steps steps-light">
                    <a class="step-item active" href="#">
                      <div class="step-progress"><span class="step-count">1</span>
                      </div>
                      <div class="step-label"><i class='bx bx-cart'></i>Carrito</div>
                    </a>
                    <a class="step-item active" href="#">
                      <div class="step-progress"><span class="step-count">2</span>
                      </div>
                      <div class="step-label"><i class='bx bx-user-circle'></i>Orden de Compra</div>
                    </a>
                    <a class="step-item" href="#">
                      <div class="step-progress active current "><span class="step-count">3</span>
                      </div>
                      <div class="step-label"><i class='bx bx-cube'></i>Verificación de despacho</div>
                    </a>
                    <a class="step-item" href="#">
                      <div class="step-progress"><span class="step-count">4</span>
                      </div>
                      <div class="step-label"><i class='bx bx-check-circle'></i>Confirmación</div>
                    </a>
                  </div>
                 </div>
               </div>
               <div class="card">
                 <div class="card-body">
                   <h2 class="h5 mb-0">Verificar los detalles de su orden de pedido</h2>
                   <div class="my-3 border-bottom"></div>
                   <div class="table-responsive">
                     <table class="table">
                       <thead class="table-light">
                         <tr>
                           <th>Producto</th>
                           <th>Cantidad</th>
                           <th>Subtotal</th>
                           <th>Descuento</th>
                           <th>Total</th>
                         </tr>
                       </thead>
                       <tbody>
                        {% for item in cart %}
                         <tr>
                           <td>{{ item.product.name }} </td>
                           <td>{{ item.quantity }}</td>
                           <td> ${{ cart.get_discount|floatformat:"2" }}</td>
                           <td>${{ item.total_price|floatformat:"2" }}</td>
                           <td>${{ cart.get_total_price_after_discount|floatformat:"2" }}</td>
                         <tr>
                          {% endfor %}
                           <td>Local Pickup</td>
                           <td>--</td>
                           <td>$0.00</td>
                         </tr>
                         <tr>
                           <td>UPS Ground</td>
                           <td>2-5 days</td>
                           <td>$16.00</td>
                         </tr>
                       </tbody>
                     </table>
                   </div>
                 </div>
               </div>
               <div class="card">
                 <div class="card-body">
                   <div class="row">
                     <div class="col-md-6">
                       <div class="d-grid"><a href="{% url "shop:product_list" %}"  class="btn btn-light btn-ecomm"><i class="bx bx-chevron-left"></i>Ver más productos</a>
                       </div>
                     </div>
                     <div class="col-md-6">
                       <div class="d-grid"><a href="{% url "payment:done" %}"  class="btn btn-primary btn-ecomm">Realizar Orden<i class="bx bx-chevron-right"></i></a>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>

         </div>
         <!--end row-->
       </div>
     </div>
   </div>
 </div>
   </section>
   <!--end shop cart-->
        

     </div>
     <!-- end page content-->
    </div>
    


    <!--Start Back To Top Button-->
    <a href="javaScript:;" class="back-to-top"><ion-icon name="arrow-up-outline"></ion-icon></a>
    <!--End Back To Top Button-->

    <!--start switcher-->
    <div class="switcher-body">
     <button class="btn btn-primary btn-switcher shadow-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"><ion-icon name="color-palette-sharp" class="me-0"></ion-icon></button>
     <div class="offcanvas offcanvas-end shadow border-start-0 p-2" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling">
       <div class="offcanvas-header border-bottom">
         <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Theme Customizer</h5>
         <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
       </div>
       <div class="offcanvas-body">
         <h6 class="mb-0">Theme Variation</h6>
         <hr>
         <div class="form-check form-check-inline">
           <input class="form-check-input" type="radio" name="inlineRadioOptions" id="LightTheme" value="option1" checked>
           <label class="form-check-label" for="LightTheme">Light</label>
         </div>
         <div class="form-check form-check-inline">
           <input class="form-check-input" type="radio" name="inlineRadioOptions" id="DarkTheme" value="option2">
           <label class="form-check-label" for="DarkTheme">Dark</label>
         </div>
         <div class="form-check form-check-inline">
           <input class="form-check-input" type="radio" name="inlineRadioOptions" id="SemiDark" value="option3">
           <label class="form-check-label" for="SemiDark">Semi Dark</label>
         </div>
         <hr/>
         <h6 class="mb-0">Header Colors</h6>
         <hr/>
         <div class="header-colors-indigators">
           <div class="row row-cols-auto g-3">
             <div class="col">
               <div class="indigator headercolor1" id="headercolor1"></div>
             </div>
             <div class="col">
               <div class="indigator headercolor2" id="headercolor2"></div>
             </div>
             <div class="col">
               <div class="indigator headercolor3" id="headercolor3"></div>
             </div>
             <div class="col">
               <div class="indigator headercolor4" id="headercolor4"></div>
             </div>
             <div class="col">
               <div class="indigator headercolor5" id="headercolor5"></div>
             </div>
             <div class="col">
               <div class="indigator headercolor6" id="headercolor6"></div>
             </div>
             <div class="col">
               <div class="indigator headercolor7" id="headercolor7"></div>
             </div>
             <div class="col">
               <div class="indigator headercolor8" id="headercolor8"></div>
             </div>
           </div>
         </div>
         
       </div>
     </div>
    </div>
    <!--end switcher-->


    <!--start overlay-->
     <div class="overlay nav-toggle-icon"></div>
    <!--end overlay-->

</div>
<!--end wrapper-->

{% endblock %}

<div id="wrapper">
  <!-- content -->	
  <div class="content">
    
      <!-- column-image  -->	
      <div class="column-image">
        
        <div class="bg"  data-bg="{% static "img/5.jpg" %}" ></div>  
       
          <div class="overlay"></div>
          
          <div class="column-title">
            <img src="{% static 'img/logo_flor.png' %} " width=350px>
              <h2>{% trans "Payment Process" %}</h2>
              <div class="overlay"></div>
              
          </div>
          <div class="overlay"></div>
          
          <div class="fixed-column-dec">
            
          </div>
      </div>
      <!-- column-image end  -->	
      <!-- column-wrapper -->	
      
      <div class="column-wrapper ">
<!--scroll-nav-wrap -->	
         
							
          <section id="sec3" style="background-color: #525355;">
              <div class="container small-container">
                  <div class="section-title fl-wrap">
                      <h3 style="color:#fff;">{% trans "Pay your reservation now"%}</h3>
                      <p>{% trans "Pay your reservation securely and quickly, with our e-commerce system. We accept the following credit cards." %}</p>
                      <div class="contact-details fl-wrap"></div>
                      <img src="{% static '/img/credit/american-express.png' %}">
                      <img src="{% static '/img/credit/cirrus.png' %}">
                      <img src="{% static '/img/credit/mastercard.png' %}">
                      <img src="{% static '/img/credit/paypal2.png' %}">
                      <img src="{% static '/img/credit/visa.png' %}">
                      <div class="contact-details fl-wrap">
                        {% for item in cart %}
                        <ul>
                          <li><span>Tour :</span>{{ item.product.name }} </li>
                            <li><span># <i class="fal fa-user"></i>:</span>{{ item.quantity }}</li>
                            <li><span>Sub total :</span>${{ item.total_price|floatformat:"2" }}</li>
                            <li><span>{% trans "Discount" %} :</span>
                              {% blocktrans with code=cart.coupon.code discount=cart.coupon.discount %}
                                {{ code }} ({{ discount }}% off)
                              {% endblocktrans %}
                              <span>- ${{ cart.get_discount|floatformat:"2" }}</span>
                            </li>
                            <p>{% trans "Total" %}: ${{ cart.get_total_price_after_discount|floatformat:"2" }}</p>
                        </ul>
                        {% endfor %}
                    </div>   
                  </div>
                  <div class="column-wrapper_item fl-wrap">
                    
                      <div class="column-wrapper_text fl-wrap">
                          <div id="contact-form" class="fl-wrap">
                              <div id="message"></div>
                              
                              <form action="." id="payment" class="scale-down" method="post">
                     

                                  <div class="cardinfo-card-number">
                                    <label class="cardinfo-label" for="card-number">{% trans "Credit Card Number" %}</label>
                                    <div class='input-wrapper' id="card-number"></div>
                                    <div id="card-image"></div>
                                  </div>
                               
                                  <div class="cardinfo-wrapper">
                                    <div class="cardinfo-exp-date">
                                      <label class="cardinfo-label" for="expiration-date">{% trans "Valid Thru" %}</label>
                                      <div class='input-wrapper' id="expiration-date"></div>
                                    </div>

                               
                                    <div class="cardinfo-cvv">
                                      <label class="cardinfo-label" for="cvv">CVV</label>
                                      <div class='input-wrapper' id="cvv"></div>
                                    </div>
                                  </div>
                             
                                <input type="hidden" id="nonce" name="payment_method_nonce" value="">
                                {% csrf_token %}
                                <input  class="btn btn-block btn-success" type="submit" value="Realizar pago">
                          </form>
                                 
                                
       
                          </div>
                      </div>
                  </div>
              </div>
          </section>
          <!--section end  -->	
          <!--footer -->			
          <footer class="min-footer fl-wrap content-animvisible">
              <div class="container small-container">
                  <div class="footer-inner fl-wrap">
                      <!-- policy-box-->
                      <div class="policy-box">
                        <span>&#169; Powered by SmartQuail, Inc / Design by Edward Cooper  </span>
                      </div>
                      <!-- policy-box end-->
                      <a href="#" class="to-top-btn to-top">{% trans "Back to top" %} <i class="fal fa-long-arrow-up"></i></a>
                  </div>
              </div>
          </footer>
          <!--footer end  -->	
      </div>
      <!-- column-wrapper -->	
  </div>
  <!--content end-->	
  <!--share-wrapper-->
  <div class="share-wrapper">
      <div class="share-container fl-wrap  isShare"></div>
  </div>
  <!--share-wrapper end-->
</div>
  
  <!-- Load the required client component. -->
  <script src="https://js.braintreegateway.com/web/3.29.0/js/client.min.js"></script>
  <!-- Load Hosted Fields component. -->
  <script src="https://js.braintreegateway.com/web/3.29.0/js/hosted-fields.min.js"></script>

  <script>
    var form = document.querySelector('#payment');
    var submit = document.querySelector('input[type="submit"]');

    braintree.client.create({
      authorization: '{{ client_token }}'
    }, function (clientErr, clientInstance) {
      if (clientErr) {
        console.error(clientErr);
        return;
      }

      braintree.hostedFields.create({
        client: clientInstance,
        styles: {
          'input': {
            'color': '#282c37',
            'font-size': '16px',
            'transition': 'color 0.1s',
            'line-height': '3'
          },
          // Style the text of an invalid input
          'input.invalid': {
            'color': '#E53A40'
          },
          // placeholder styles need to be individually adjusted
          '::-webkit-input-placeholder': {
            'color': 'rgba(0,0,0,0.6)'
          },
          ':-moz-placeholder': {
            'color': 'rgba(0,0,0,0.6)'
          },
          '::-moz-placeholder': {
            'color': 'rgba(0,0,0,0.6)'
          },
          ':-ms-input-placeholder': {
            'color': 'rgba(0,0,0,0.6)'
          },
          // prevent IE 11 and Edge from
          // displaying the clear button
          // over the card brand icon
          'input::-ms-clear': {
            opacity: '0'
          }
        },
        fields: {
          number: {
            selector: '#card-number',
            placeholder: '1111 1111 1111 1111'
          },
          cvv: {
            selector: '#cvv',
            placeholder: '123'
          },
          expirationDate: {
            selector: '#expiration-date',
            placeholder: '10 / 2019'
          }
        }
      }, function (hostedFieldsErr, hostedFieldsInstance) {
        if (hostedFieldsErr) {
          console.error(hostedFieldsErr);
          return;
        }

        hostedFieldsInstance.on('validityChange', function (event) {
          // Check if all fields are valid, then show submit button
          var formValid = Object.keys(event.fields).every(function (key) {
            return event.fields[key].isValid;
          });
    
          if (formValid) {
            $('#button-pay').addClass('show-button');
          } else {
            $('#button-pay').removeClass('show-button');
          }
        });
    
        hostedFieldsInstance.on('empty', function (event) {
          $('header').removeClass('header-slide');
          $('#card-image').removeClass();
          $(form).removeClass();
        });
    
        hostedFieldsInstance.on('cardTypeChange', function (event) {
          // Change card bg depending on card type
          if (event.cards.length === 1) {
            $(form).removeClass().addClass(event.cards[0].type);
            $('#card-image').removeClass().addClass(event.cards[0].type);
            $('header').addClass('header-slide');
            
            // Change the CVV length for AmericanExpress cards
            if (event.cards[0].code.size === 4) {
              hostedFieldsInstance.setAttribute({
                field: 'cvv',
                attribute: 'placeholder',
                value: '1234'
              });
            } 
          } else {
            hostedFieldsInstance.setAttribute({
              field: 'cvv',
              attribute: 'placeholder',
              value: '123'
            });
          }
        });

        submit.removeAttribute('disabled');

        form.addEventListener('submit', function (event) {
          event.preventDefault();

          hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
            if (tokenizeErr) {
              console.error(tokenizeErr);
              return;
            }
            // set nonce to send to the server
            document.getElementById('nonce').value = payload.nonce;
            // submit form
            document.getElementById('payment').submit();
          });
        }, false);
      });
    });
  </script>